/*opmaak*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: grey;
}

nav {
    display: flex;
    height: 7vh;
    width: 100vw;
    background-color: black;
}

h2 {
    color: black;
}

section {
    width: 33vw;
    height: auto;

}

img {
    max-width: 100%;
    height: auto;
}

.navbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 7vh;
    width: 33vw;
}

.logonav {
    height: 7vh;
    width: 33vw;
}

.logo {
    height: 7vh;
    width: 10vw;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 10vw;
    background-color: white;
    border-radius: 5px;
}

.test2 {
    height: 5vh;
    width: 10vw;
    background-color: white;
    border-radius: 5px;
}

.test3 {
    height: 5vh;
    width: 10vw;
    background-color: white;
    border-radius: 5px;
}

.test6 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 7vh;
    width: 33vw;
}

.home {
    display: flex;
    height: 5vh;
    width: 10vw;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.homepage {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.contact{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}


.foto {
    height: auto;
    width: 23vw;
    
}